.main_container {
  display: grid;
  grid-template-rows: 1fr;
}

.container {
  display: grid;
  grid-template-columns: 50px 1fr;
  justify-content: space-around;
}

.cover {
  width: 60px;
}

.cover img {
  width: 100%;
}

.title {
  text-align: right;
  font-size: 12px;
  padding-left: 20px;
  word-wrap: normal;
}
