.main_container {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 100px;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-content: center;
}

.cover {
  width: 40px;
}

.cover img {
  width: 100%;
}

.title {
  text-align: left;
  font-size: 11px;
  word-wrap: inherit;
}
