.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cover_container {
  width: 20vw;
}

.description_container {
  display: grid;
  grid-template-rows: 1fr 40px;
  text-align: start;
  padding-left: 20px;
  padding-right: 20px;
}

.cover_container img {
  width: 100%;
}

.title {
  font-size: large;
  font-weight: bold;
}

.common {
  font-size: small;
  margin-top: 10px;
}
