.main_container {
  display: grid;
  grid-template-rows: 1fr;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 300px;
}

.cover_container {
  width: 20vw;
}

.description_container {
  display: grid;
  grid-template-rows: 5fr 1fr 1fr;
  text-align: start;
  padding-left: 20px;
  padding-right: 20px;
}

.cover_container img {
  width: 100%;
}

.title {
  font-size: large;
  font-weight: bold;
}

.common {
  font-size: small;
  margin-top: 10px;
}

.warning {
  font-weight: bold;
  color: red;
}

.add_btn {
  margin-top: 5px;
}

.price {
  font-size: small;
  color: green;
  font-weight: bold;
}
