.main_container {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 15vw;
  margin-right: 15vw;
}

.container {
  display: grid;
  grid-template-rows: 40px 1fr;
  padding-top: 16px;

  background-color: gray;
}

.search {
  padding-left: 16px;
  /* position: fixed;
  z-index: 1; */
}

.content {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}

.info_text {
  color: orange;
  font-weight: bold;
}

.books_list {
  align-content: center;
  background-color: gray;
}

.details {
  background-color: honeydew;
  text-align: center;
  padding-top: 20px;
  padding-left: 20px;
}

.favorits_container {
  background-color: gray;
  text-align: center;
  padding-top: 20px;
  min-width: 120px;
}

.favorits_item {
  z-index: 1;
  width: 10vw;
  margin: 1px;
}
