.main_container {
  display: grid;
  grid-template-columns: 1fr;

  margin-left: 15vw;
  margin-right: 15vw;
}

.container {
  display: grid;
  grid-template-rows: 60px 1fr;
  padding-top: 16px;
  min-height: 1000px;
  background-color: gray;
}

.search {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.pagination {
  align-items: flex-end;
  justify-content: flex-end;
}

.content {
  display: grid;
  grid-template-columns: 2fr 6fr 2fr;
  margin-top: 20px;
}

.info_text {
  color: orange;
  font-weight: bold;
}

.books_list {
  margin-right: 1vw;
}

.book_item {
  margin: 2px;
}

.details {
  background-color: honeydew;
  text-align: center;
  padding-top: 20px;
  padding-left: 20px;
}

.favorits_container {
  background-color: gray;
  text-align: center;
  min-width: 130px;
  margin-left: 1vw;
}

.delete_btn {
  font-size: 10px;
}

.preloader {
  position: absolute;
  right: 47%;
  bottom: 50%;
  z-index: 1;
}
