.container {
  display: grid;
  grid-template-rows: 80px 1fr;
  justify-content: center;
}

.search {
  align-content: center;
  position: fixed;
  z-index: 1;
  margin-top: 20px;
  margin-left: 20px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin-left: 40px;
  margin-top: 60px;
}

.books_list {
  margin-right: 20px;
  align-content: center;
}

.details {
}
